

<%- include('partials/header') %>
<!-- header section starts here -->
<header class="header">

    <a href="#" class="logo"><i class="fa fa-shopping-basket"></i>
        groco
    </a>
    <nav class="navbar">
        <a href="#home">home</a>
        <a href="#features">features</a>
        <a href="/product">products</a>
        <a href="#categories">categories</a>
        <a href="#reviews">reviews</a>
        <a href="#blogs">blogs</a>
    </nav>
     
     <% var inputString= userinside  %>
    <% var firstSpaceIndex = inputString.indexOf(" "); %>
    <% var substringUpToFirstSpace = inputString.substring(0, firstSpaceIndex); %>
    <% if(substringUpToFirstSpace.length >= 15) { %>
        <% substringUpToFirstSpace = substringUpToFirstSpace.substring(0, 10); %>
   <% } %>
     <% substringUpToFirstSpace +="..."; %>
    <div class="icons">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div class="fas fa-search" id="search-btn"></div>
        <a href="/cart"><div class="fas fa-shopping-cart" id="cart-btn"></div></a>
        <div class="fas fa-user" id="login-btn"></div>
        <p>Welcome, <%= substringUpToFirstSpace %> </p>
    </div>

    <form action="" class="search-form">
        <input type="search" placeholder="search here..." id="search-box">
        <label for="search-box" class="fas fa-search"></label>

    </form>

    <div class="login-form">
        <div class="logout_container"><a href="/logout">Log Out</a></div>
    </div>
</header>

<!-- header section ends here -->

<!-- home section starts -->
 <section class="home" style="background: url(css/image/banner-bg.jpg) no-repeat;" id="home">
 <div class="content">
 <h3>fresh and <span>organic</span> products for you</h3>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci placeat dolor reiciendis fugit fuga natus.</p>
 <a href="#" class="btn">shop now</a>
 </div>
 </section>
<!-- home section ends -->


<!-- features section starts  -->
   <section class="features" id="features">
    <h1 class="heading"> our <span>features</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="css/image/feature-img-1.jpg" alt="" />
            <h3>fresh and organic</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="css/image/feature-img-2.jpg" alt="" />
            <h3>free delivery</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <a href="#" class="btn">read more</a>
        </div>

        <div class="box">
            <img src="css/image/feature-img-3.png" alt="" />
            <h3>easy payments</h3>
            <p>Lorem ipsum dolor sit amet, consectetur.</p>
            <a href="#" class="btn">read more</a>
        </div>

    </div>
   </section>
<!-- features section ends  -->
 
 <!-- production section starts -->
<scetion class="products" id="products">
    <h1 class="heading"> our <span>products</span></h1>
    <div class=" swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="css/image/product-1.jpg" alt="">
                <h3>fresh orange</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=1"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-2.jpg" alt="">
                <h3>fresh onion</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=2"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-3.jpg" alt="">
                <h3>fresh meat</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=3"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-4.jpg" alt="">
                <h3>fresh cabbage</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=4"><button class="btn">add to cart</button></a>
            </div>
        </div>
    </div>
    
    <div class=" swiper product-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide box">
                <img src="css/image/product-5.jpg" alt="">
                <h3>fresh potato</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=5"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-6.jpg" alt="">
                <h3>fresh avocado</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=6"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-7.jpg" alt="">
                <h3>fresh carrot</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=7"><button class="btn">add to cart</button></a>
            </div>
            <div class="swiper-slide box">
                <img src="css/image/product-8.jpg" alt="">
                <h3>green lemon</h3>
                <div class="price"> $4.99/- - 10.99/-</div>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
                <a href="/addtocartbtn?productId=8"><button class="btn">add to cart</button></a>
            </div>
        </div>
    </div>
</scetion>
 <!-- production section ends -->

 <!-- category section starts  -->
  <section class="categories" id="categories">
    <h1 class="heading"> product <span>categories</span></h1>

    <div class="box-container">
        <div class="box">
            <img src="css/image/cat-1.jpg" alt="">
            <h3>vegetables</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>

        <div class="box">
            <img src="css/image/cat-2.jpg" alt="">
            <h3>fresh fruits</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>
        <div class="box">
            <img src="css/image/cat-3.jpg" alt="">
            <h3>dairy products</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>
        <div class="box">
            <img src="css/image/cat-4.jpg" alt="">
            <h3>fresh meat</h3>
            <p>upto 45% off</p>
            <a href="#" class="btn">shop now</a>
        </div>
    </div>
  </section>
 <!-- category section ends -->

    <!-- review section starts  -->
    <section class="review" id="reviews">
        <h1 class="heading"> customer's <span>review</span></h1>
        <div class="swiper review-slider">
            <div class="swiper-wrapper">
             <div class="swiper-slide box">
                <img src="css/image/pic-1.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor quia excepturi nulla maxime, officia recusandae qui corporis fugiat nesciunt.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
             </div>
             <div class="swiper-slide box">
                <img src="css/image/pic-2.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor quia excepturi nulla maxime, officia recusandae qui corporis fugiat nesciunt.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
             </div>
             <div class="swiper-slide box">
                <img src="css/image/pic-3.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor quia excepturi nulla maxime, officia recusandae qui corporis fugiat nesciunt.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
             </div>
             <div class="swiper-slide box">
                <img src="css/image/pic-4.jpg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolor quia excepturi nulla maxime, officia recusandae qui corporis fugiat nesciunt.</p>
                <h3>john deo</h3>
                <div class="stars">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                </div>
             </div>
            </div>
        </div>
    </section>
  <!-- review section ends  -->

  <!-- blog section starts  -->
  <section class="blogs" id="blogs">
    <h1 class="heading"> our <span>blogs</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="css/image/blog-1.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"><i class="fas fa-user"></i> by user </a>
                    <a href="#"><i class="fas fa-calendar"></i> 19th july, 2023 </a>
                </div>
                <h3>fresh and organic vegetables and fruits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
        <div class="box">
            <img src="css/image/blog-2.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"><i class="fas fa-user"></i> by user </a>
                    <a href="#"><i class="fas fa-calendar"></i> 19th july, 2023 </a>
                </div>
                <h3>fresh and organic vegetables and fruits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
        <div class="box">
            <img src="css/image/blog-3.jpg" alt="">
            <div class="content">
                <div class="icons">
                    <a href="#"><i class="fas fa-user"></i> by user </a>
                    <a href="#"><i class="fas fa-calendar"></i> 19th july, 2023 </a>
                </div>
                <h3>fresh and organic vegetables and fruits</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, odit.</p>
                <a href="#" class="btn">read more</a>
            </div>
        </div>
    </div>
  </section>
  <!-- blog section ends -->
  
  <!-- footer section starts  -->
  <section class="footer">
    <div class="box-container">
        <div class="box">
            <h3> groco <i class="fas fa-shopping-basket"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, dolore.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
       
        <div class="box">
            <h3> groco <i class="fas fa-shopping-basket"></i></h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, dolore.</p>
            <div class="share">
                <a href="#" class="fab fa-facebook-f"></a>
                <a href="#" class="fab fa-twitter"></a>
                <a href="#" class="fab fa-instagram"></a>
                <a href="#" class="fab fa-linkedin"></a>
            </div>
        </div>
        <div class="box">
            <h3>contact info</h3>
            <a href="#" class="links"><i class="fas fa-phone"></i>+123-456-789</a>
            <a href="#" class="links"><i class="fas fa-phone"></i>+111-222-3333</a>
            <a href="#" class="links"><i class="fas fa-envelope"></i>shaikhanas@gmail.com</a>
            <a href="#" class="links"><i class="fas fa-map-marker-alt"></i> mumbai, india - 400104</a>
        </div>
        <div class="box">
            <h3>quick links</h3>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> home </a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> features </a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> products </a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> categories </a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> review </a>
            <a href="#" class="links"><i class="fas fa-arrow-right"></i> blogs </a>
        </div>
        <div class="box">
            <h3>newsletter</h3>
            <p>subscribe for latest updates</p>
            <input type="email" placeholder="your email" class="email">
            <input type="submit" value="subscribe" class="btn">
            <img src="css/image/payment.jpg" class="payment-img" alt="">
        </div>
    </div>

  </section> 
  <!-- footer section ends  -->
  <%- include('partials/footer') %>
